// Custom Variables
$primary: pink;
$warning: blue;

// Import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";


$custom-theme-colors: (
    "alt-gray-25": #FCFCFD,
    "alt-gray-50": #F9FAFB,
    "alt-gray-100": #F2F4F7,
    "alt-gray-200": #EAECF0,
    "alt-gray-300": #D0D5DD,
    "alt-gray-400": #98A2B3,
    "alt-gray-500": #667085,
    "alt-gray-600": #475467,
    "alt-gray-700": #344054,
    "alt-gray-800": #1D2939,
    "alt-gray-900": #101828,
    "altlight": #f2ebfa,
    "altdark": #141414
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// Import Bootsrtap
@import "../node_modules/bootstrap/scss/bootstrap";

