:root {
    --main-bg-color: #26262B;
    --second-bg-color: #3E3E46;
    --white-color: #fafafa;
    --link-color: aquamarine;
}

body {
    font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white-color);
    background-color: var(--main-bg-color);
}


.page-wrapper {
    overflow: hidden;
    background-color: var(--second-bg-color);
    border-radius: .3rem;
    /* background: rgb(0,108,255);
    background: linear-gradient(145deg, rgba(0,108,255,1) -50%, rgba(2,0,36,1) 150%);
    */
}

h1, h2, h3, p, link {
    margin: 0;
    padding: 0;
}

h1 {
    padding-bottom: 1rem;
}

h2 {
    padding-bottom: .5rem;
}

a {
    color: var(--link-color);
    transition: top ease 150ms;
    cursor:pointer;
    position: relative;
    top: 0px;
}
a:checked, a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--white-color);
    text-decoration: none;
    top: -2px;
}
/*
.navbar {}

.main-wrapper {}

.section_home-header {}
*/

.section-style-dark {
    background-color: rgba(0, 0, 0, 0.15);
    color: var(--white-color);
}

.padding-global {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

@media screen and (max-width: 568px) {
    .padding-global {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}

.container-medium {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90vw;
}

@media screen and (max-width: 568px) {
    .container-medium {
        max-width: 90dvw;
    }
}

.padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.align-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.example_wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-top: 1rem;
    gap: .5rem;
    border: 2px solid var(--white-color);
    border-radius: .3rem;
    background-color: #fafafa25;
    backdrop-filter: blur(10px);
    padding: .5rem;
}

.example_box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.calculator_form {
    display: flex;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.calculator_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 40px;

}

.calculator_input-box {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: start;
    gap: .5rem;
}

.input-label {
    font-size: .9rem;
    font-weight: 500;
}

.calculator_input {
    color: var(--white-color);
    height: 1.5rem;
    border-radius: 0.3rem;
    border: 2px solid #fafafa50;
    background-color: #fafafa50;
    color: var(--white-color);
    font-weight: 400;
    padding: .3rem;
}

.calculator_input:focus{
    border: 2px solid var(--white-color);
}
textarea:focus, input:focus{
    outline: none;
}

footer {
    color: #fafafadb;
    font-size: 14px;
}