body {
    font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
    color: #fafafa;
}

.page-wrapper {
    overflow: hidden;
    background: rgb(0,108,255);
    background: linear-gradient(145deg, rgba(0,108,255,1) -50%, rgba(2,0,36,1) 150%);
}
/*
.navbar {}

.main-wrapper {}

.section_home-header {}
*/

.section-style-dark {
    background-color: rgba(0, 0, 0, 0.15);
    color: #fafafa;
}

.padding-global {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

@media screen and (max-width: 568px) {
    .padding-global {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}

.container-meduim {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90vw;
}

.padding-section-medium {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.align-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.example_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    gap: 24px;
}

.example_row {
    display: flex;
    flex-direction: row;  
    gap: 24px;
}

.calculator_form {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: left;
    gap: 1rem;
}

.calculator_row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
    gap: 40px;

}

.calculator_input-box {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    gap: .5rem;
}

.input-label {
    font-size: .9rem;
    font-weight: 500;
}

.calculator_input {
    color: #fafafa;
    height: 1.5rem;
    border: 1px solid #00000050;
    border-radius: 0.3rem;
    border: 2px solid #fafafa50;
    background-color: #fafafa50;
}