/* @import url(/styles/dark-mode.css); */
@import url(./reset.css);

:root {
    /* Colors */
    --color-bg-primary: #26262B;
    --color-bg-secondary: #3E3E46;
    --color-white: #ffffff;
    --color-grey-50: #F9FAFB;
    --color-grey-100: #F2F4F7;
    --color-grey-300: #D0D5DD;
    --color-grey-500: #667085;
    --color-grey-700: #344054;
    --color-grey-800: #1D2939;
    --color-grey-900: #101828;
    --color-link: aquamarine;

    --transition-all: all ease 150ms;

    /* Typography */
    --font-main: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    font-family: var(--font-main);
    color: var(--color-bg-primary);
    background-color: var(--color-white);
}

.page-wrapper {
    overflow: hidden;
    background-color: var(--color-grey-100);
    border-radius: .3rem;
    text-align: center;
    /* background: rgb(0,108,255);
    background: linear-gradient(145deg, rgba(0,108,255,1) -50%, rgba(2,0,36,1) 150%);
    */
}

h1,
h2,
h3,
p,
link {
    margin: 0;
    padding: 0;
}

h1 {
    padding-bottom: 1rem;
}

h2 {
    padding-bottom: .5rem;
}

a {
    color: var(--color-grey-300);
    transition: var(--transition-all);
    cursor: pointer;
    position: relative;
    top: 0px;
}

a:checked,
a:visited {
    color: var(--color-bg-secondary);
}

a:hover {
    color: var(--color-bg-primary);
    text-decoration: none;
    top: -2px;
}

/*
.navbar {}

.main-wrapper {}

.section_home-header {}
*/

.section-style-dark {
    background-color: rgba(0, 0, 0, 0.15);
    color: var(--color-white);
}

.padding-global {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

@media screen and (max-width: 568px) {
    .padding-global {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}

.container-medium {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 90vw;
}

@media screen and (max-width: 568px) {
    .container-medium {
        max-width: 90dvw;
    }
}

.padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.align-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example_wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-top: 1rem;
    gap: .5rem;
    border: 2px solid var(--color-grey-300);
    border-radius: .3rem;
    background-color: var(--color-white);
    backdrop-filter: blur(10px);
    padding: .5rem;
}

.example_box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.calculator_form {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.calculator_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 2rem;
    flex-wrap: wrap;
}

.calculator_input-box {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: start;
    gap: .5rem;
}

.calculator_input-label {
    font-size: .9rem;
    font-weight: 500;
}

.calculator_input-reset {
    border: 0 none transparent;
    color: var(--color-bg-primary);
    font-weight: 400;
    font-size: .9rem;
    transition: var(--transition-all);
}

.calculator_input-reset:hover {
    color: var(--color-grey-500);
    cursor: pointer;
}

.calculator_input {
    height: 1.5rem;
    border-radius: 0.3rem;
    border: 2px solid var(--color-grey-300);
    background-color: var(--color-white);
    color: var(--color-bg-primary);
    font-weight: 400;
    padding: .3rem;
}

.calculator_input:focus {
    border: 2px solid var(--color-grey-500);
}

textarea:focus,
input:focus {
    outline: none;
}

footer {
    color: var(--color-grey-500);
    font-size: 14px;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-grey-900);
        color: var(--color-white) !important;
    }

    .page-wrapper {
        background-color: var(--color-grey-700);
    }

    input {
        background-color: var(--color-grey-900) !important;
        border-color: var(--color-grey-500) !important;
        color: var(--color-white) !important;
    }

    .calculator_input-reset {
        background-color: transparent !important;
    }

    .example_wrapper {
        border: 2px solid var(--color-grey-300);
        background-color: var(--color-white);
        color: var(--color-grey-700);
    }
}